/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

section {
  padding: 80px 0;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

/* heading */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
}
h1 {
  color: #fff;
  font-size: 250%;
}

h2 {
  font-size: 190%;
  margin-bottom: 20px;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background-color: #7483d4;
  margin: 20px auto 40px;
}

h3 {
  font-size: 120%;
  margin-bottom: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
}

h4 {
  font-size: 108%;
  margin: 10px 0;
}

h5 {
  font-size: 105%;
}
/* button */
.submitBtn {
  background: #7483d4;
  border: 1px solid #7483d4;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, border 0.5s color 0.5s;
  -o-transition: background-color 0.5s, border 0.5s color 0.5s;
  transition: background-color 0.5s, border 0.5s color 0.5s;
}

.submitBtn:hover {
  border: 1px solid transparent;
  background: #302d2d;
  color: #fff;
}

.btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 90%;
}

.btn-hungry:visited,
.btn-hungry:link {
  background: #eb6a00;
  border: 1px solid #eb6a00;
  -webkit-transition: background-color 0.5s, border 0.5s;
  -o-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.btn-hungry:hover,
.btn-hungry:active {
  border: 1px solid transparent;
  background: #302d2d;
  position: relative;
  top: 2px;
}

.btn-more:visited,
.btn-more:link {
  background: #7483d4;
  border: 1px solid #7483d4;
  -webkit-transition: background-color 0.5s, border 0.5s;
  -o-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.btn-more:hover,
.btn-more:active {
  border: 1px solid transparent;
  background: #302d2d;
  position: relative;
  top: 2px;
}
/* header section  */

header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgb(0, 0, 0, 0.7))
    ),
    url("./img/hero.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url("./img/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url("./img/hero.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*main navbar */

nav {
  position: relative;
  top: 15px;
}
.logo {
  height: 80px;
  width: auto;
  float: left;
}
.logo-black {
  height: 60px;
  width: auto;
  float: left;
  display: none;
  margin: 5px 0;
}
.nav-bar {
  float: right;
  margin-top: 30px;
}

.nav-item {
  display: inline-block;
}

.nav-item a:visited,
.nav-item a:link {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  margin-left: 10px;
  border: 1px solid #eb6a00;
  -webkit-transition: background-color 0.5s, border 0.5s;
  -o-transition: background-color 0.5s, border 0.5s;
  transition: background-color 0.5s, border 0.5s;
}

.nav-item a:hover,
.nav-item a:active {
  border: 1px solid transparent;
  background: #7483d4;
  position: relative;
  top: 2px;
}

.mobile-nav {
  display: none;
}
/* sticky nav */

/* feature section */
.feature-header {
  text-align: center;
}

.long-para {
  width: 70%;
  margin: 0 auto;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 145%;
}

.feature-body {
  margin-top: 50px;
}

.feature-boxs {
  padding-right: 2%;
}

.para {
  line-height: 145%;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 90%;
}

/* fav meals */
.fav-meal {
  padding: 0;
}
.meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meals li {
  width: 25%;
  height: auto;
  list-style: none;
  margin: 0;
}

figure {
  background-color: #000;
  overflow: hidden;
}

.meal-photo {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  opacity: 0.7;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}

/*  how it work */
.howItWork {
  background-color: #dbddee;
}

.howItWork_box {
  margin-top: 40px;
}

.hit_box_1 {
  width: 38%;
}

.hit_box_2 {
  width: 58%;
  padding-left: 5%;
}

.app {
  width: 220px;
  float: right;
}

.step {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.step div:first-child {
  border: 2px solid #000;
  color: #000;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  font-size: 150%;
  padding-top: 8px;
}

.step div:last-child {
  width: 60%;
  margin-left: 3%;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 145%;
}

.step a {
  display: inline-block;
  margin-right: 2%;
}

.download {
  height: 50px;
  width: auto;
  margin-top: 20px;
}

/* citySection */

.citySection p {
  font-size: 90%;
  line-height: 145%;
}
.citySection a {
  color: #7483d4;
}

.cityImg {
  background-size: cover;
  width: 100%;
}

/* customersSetion */

.customersSetion {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("./img/back-customers.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/back-customers.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/back-customers.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  color: #fff;
  background-attachment: fixed;
}

.reviewBox {
  margin: 0;
  padding: 1%;
}

blockquote {
  font-size: 87%;
  letter-spacing: 1px;
  line-height: 145%;
  word-spacing: 2px;
  font-weight: 300;
  font-style: italic;
  width: 90%;
}

blockquote::before {
  content: open-quote;
  font-size: 500%;
}
blockquote::after {
  content: close-quote;
  visibility: hidden;
}

cite {
  display: block;
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.customerImg {
  width: 70px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

/* price section */

.priceSection {
  background-color: #dbddee;
}

.planContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.priceBox {
  background-color: #a7b3f1;
  width: 28%;
  -webkit-box-shadow: 5px 1px 7px #7483d4;
  box-shadow: 5px 1px 7px #7483d4;
  border-radius: 14px;
  border: 1px solid #fff;
  padding: 2%;
}

.dollor {
  font-size: 250%;
  margin: 10px 0;
}

span {
  font-size: 30%;
}

.textPrice {
  line-height: 145%;
  margin: 10px 0;
}

.priceHead {
  border-bottom: 1px solid #818ed3;
}

.priceBody {
  border-bottom: 1px solid #818ed3;
}

.signUp {
  text-align: center;
  background-color: #a7b3f1;
  margin-top: 10px;
}

.signUpBtn {
  color: #fff;
  background: #1e2221;
  border-radius: 5px;
}

.signUpBtn:active {
  position: relative;
  top: 2px;
}

/* contactForm */
.contactForm {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

/* .contactBox {
  border: 1px solid red;
} */

.contactBox div:first-child {
  width: 30%;
  text-align: right;
  padding-right: 1%;
  font-size: 97%;
}

.contactBox div:last-child {
  width: 40%;
}

[type="text"],
[type="email"],
select,
textarea {
  width: 100%;
  font-size: 97%;
}

textarea {
  height: 80px;
}

/* footerSection */

.footerSection {
  padding: 40px;
  background-color: #302d2d;
}

.footer-item {
  letter-spacing: 1px;
  font-size: 90%;
  margin-right: 20px;
  color: #fff;
}

.footer-item:hover {
  color: #7483d4;
}

.copyright {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-size: 80%;
  letter-spacing: 1px;
}

.footerIcon {
  text-align: right;
}

.icon {
  color: #fff;
  padding: 10px 30px;
  font-size: 130%;
}

.icon:hover {
  color: #7483d4;
}

/* animation section */
.app,
.cityRow,
.feature-body {
  opacity: 0;
  transition: opacity;
}

.cityRow.animated,
.app.animated,
.feature-body.animated {
  opacity: 1;
}
